* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  background: rgba(210, 210, 210, 0.501);
}

.main {
  height: 100vh;
  width: 100vw;
  margin: 20px auto;
}

#goTo-calc {
  cursor: pointer;
  width: 120px;
  height: 120px;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  font-family: Tahoma;
  font-weight: bold;
}

#goTo-calc:hover {
  background-color: rgba(0, 0, 0, 0.654);
  color: #ffffffc9;
}
